/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }

@media (min-width: 720px) {
    .form-cari {
        margin-left: 20px;
    }

    .container-footer {
        margin-left: 100px;
    }
  }

  @media (max-width: 640px){
      .modal-modif {
          width: 70% !important;
      }

      .row-warna p {
          padding-right: 10px !important;
          padding-left: 10px !important;
      }

      .row-warna h4 {
        padding-top: 50px;
        margin-right: 0px !important;
      }
  }

  @media (max-width: 840px){
    .modal-modif {
        width: 70% !important;
      }
  }

.header-color {
    background-color: #fff;
    color: #22313f;
}

nav ul a {
    color: #22313f;
}


.container-navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.material-icons {
    color: #23ad61;
}

.logo {
    width: 180px;
    margin-left: -10px;
}

.tbl-login .btn-small {
    width: 100px;
    border-radius: 7px;
    height: 28px;
    padding-bottom: 30px;
    background-color: #2acb72;
}

.tbl-login .btn-small:hover{
    background-color: #23ad61;
}

.batas-nav {
    font-size: 20px;
    line-height: 60px;
}

.banner {
    background-image: url(img/Banner.png);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.form-cari {
    margin-top: 25px;
    height: 500px;
    width: 100%;
    border-radius: 5px;
}

.slogan h3{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.input {
    margin-bottom: 30px;
}

.input-tanggal {
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #666;
}

.input-jam {
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #666;
}

.input-hari {
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #666;
}

.input-lokasi {
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #666;
}

.icon {
    margin-top: 5px;
    width: 40px;
    float: left;
    margin-right: 2%;
}

.browser-default {
    margin-top: 2px;
    width: 100%;
    border: none;   
}

.input input{
    text-align: center;
    border-bottom: none !important;
}

.browser-default:hover {
    border: none;   
}

.datepicker-date-display {
    background-color: #23ad61;
}

.timepicker-digital-display {
    background-color: #23ad61;
}


.btn {
    letter-spacing: 8px;
    height: 50px; 
    background-color: #f29b1a;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #22313f;
}

.btn:hover {
    background-color: #f8c92b;
}

.input-field input{
    text-align: left;
    border-bottom: 1px solid #9e9e9e;
}

.modal-modif {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 25%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
  }

  .modal-footer .btn-flat {
      background-color: #23ad61;
      color: #fff;
  }

  .container-info {
      padding-left: 5%;
      padding-right: 5%;
  }


  .gambar-info img {
      margin-bottom: -5px;
      border-radius: 8px;
  }

  .row-warna {
      margin-top: 30px;
      box-shadow: 1px 8px 15px #9e9e9e;
      width: 100%;
      height: auto;
      border-radius: 8px;
      padding: 0;
  }

  .row .gambar-info  {
      padding: 0 0 !important;
  }

  .row-warna h4 {

  }

  .isi h4{
    font-size:35px; 
    font-weight: bold;
    padding-top: 30px;
    color: #23ad61;
}

  .isi p{
      font-size:18px; 
  }

.container-footer {
    padding-left: 5%;
    padding-right: 5%;
}

.footer-color {
    background-color: #22313f;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #fff
}

.footer-color ul li a {
    color: #94a4a5;
    line-height: 35px;
}

.footer-color ul li a:hover {
    color: #fff;
}

.footer-color .row {
    margin-bottom: 0px;
}

  .list img {
      margin-top: -10px;
      width: 200px;
  }

  .copyright {
      font-size: 12px;
      font-weight: lighter;
      margin-left: 15px;
      margin-top: -20px;
  }

  /* Orderan.html */

  .output-menu .col{
      margin-right: 15px;
  }

  .output-menu {
      background-color: #2acb72;
      width: 100%;
      margin-top: 50px;
      padding-top: 10px;
  }

  .output h6{
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
  }

  .o-pad {
      height: 43px;
  }

  .ordered-list select {
      margin-top: 13px;
      padding-left : 1px;
      height: 30px;
      border: 1px solid #cfcfcf;
      width: auto;
      color: #f29b1a;
      font-weight: bold;
  }

  .container-infom {
      padding-left: 10%;
      padding-right: 10%;
  }

  .ordered-list select:hover {
    padding : 0;
    height: 30px;
    border: 1px solid #f8c92b;

}

.informasi-mobil {
    border: 0.05rem solid #cfcfcf;
}

.judul-mobil {
    font-weight: bold;
    color: #23ad61;
    font-size: 25px;
}

.data-muatan {
    color: #f29b1a;
    font-weight: bolder;
}

.data-muatan img{
    width: 30px;
    margin-left: 15px;
}

.rupiah span {
    font-size: 18px;
    font-weight: bold;
    color: #f8c92b;
}

.rupiah a {
    margin-left: 8px;
    width: 120px;
    border-radius: 7px;
    height: 28px;
    background-color: #f8c92b;
    font-weight: bold;
    padding-bottom: 30px;
}

.rupiah a:hover {
    background-color: #f29b1a;
}